/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que paddings y márgenes no afecten el ancho total */
}

body {
    font-family: Mulish-Regular, Arial, sans-serif; /* Combina ambas fuentes */
    background-color: #1F1F1F; /* Fondo oscuro general */
    color: #FFFFFF; /* Texto blanco puro */
    min-height: 100vh; /* Asegura que el body cubra toda la altura de la ventana */
    display: flex;
    flex-direction: column; /* Organiza el contenido en columnas */
}

/* Header */
.header {
    background-color: #162F3B; /* Fondo oscuro del header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    padding: 1em;
    position: sticky; /* Hace que el header sea fijo al desplazarse */
    top: 0; /* Asegura que el header esté siempre en la parte superior */
    z-index: 1000; /* Mantiene el header por encima de otros elementos */
}

.logo {
    width: 3%;
    cursor: pointer;
}

.logo > img {
    width: 100%;
}

.busqueda {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
}

.barra-busq {
    width: 100%;
    padding: 0.5em 2em;
    background-color: #333333; /* Fondo de la barra de búsqueda */
    border: 1px solid #666666; /* Borde oscuro */
    border-radius: 5px;
    color: #FFFFFF; /* Texto blanco puro */
}

.lupa {
    position: absolute;
    left: 10px;
    pointer-events: none;
    cursor: pointer;
}

.filtro {
    position: absolute;
    right: 10px;
}

#btnFiltro {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#btnFiltro:hover {
    background-color: #333333; /* Fondo más oscuro al pasar el cursor */
}

.panel-botones {
    display: flex;
    gap: 0.5em;
    cursor: pointer;
}

.iconos {
    color: #4DBAD9; /* Color azul claro para los iconos */
}

.iconos > i {
    font-size: 1.5em;
}

/* Main */
main {
    display: flex;
    padding: 20px;
    flex-grow: 1; /* Permite que main ocupe el espacio restante */
    flex-direction: column; /* Asegura que los hijos de main se apilen verticalmente */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.containerTema {
    display: flex;
    width: 100%; /* Asegura que el contenedor no exceda el ancho */
    margin-left: 0; /* Ajusta el margen izquierdo para evitar desbordamiento */
    gap: 10px;
    flex-grow: 1; /* Permitir que el contenedor crezca */
}

.temas {
    flex-grow: 1;
    padding: 20px;
}

.tema {
    background-color: transparent;
    padding: 15px;
    font-size: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #4DBAD9; /* Color de la línea inferior */
    cursor: pointer;
}

.sidebar {
    width: 300px; /* Mantiene un ancho fijo para la sidebar */
    padding: 20px;
    background-color: #1A1A1A; /* Puede mantenerse igual o cambiar a otro color si lo deseas */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Paginación */
.paginacion {
    display: flex;
    justify-content: center;
    padding: 10px 0; /* Espaciado alrededor de la paginación */
    margin: 20px 0; /* Margen para separar de otros elementos */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

/* Footer */
footer {
    background-color: #162F3B; /* Fondo oscuro del footer */
    display: flex;
    justify-content: space-between;
    padding: 4em 2em;
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    margin-top: auto; /* Empuja el footer al final */
}

footer span {
    color: #4DBAD9; /* Color azul claro para el texto */
    font-size: 2em;
}

.redes, .panel-botones {
    display: flex;
    gap: 0.5em;
    cursor: pointer;
}

/* Últimas Publicaciones */
.ultimas-publicaciones h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFFFFF; /* Texto blanco para las últimas publicaciones */
}

.publicacion {
    display: flex;
    margin-bottom: 10px;
}

.icono img {
    margin-right: 10px;
}

.texto p {
    margin: 0;
    color: #FFFFFF; /* Texto blanco para las publicaciones */
}

.estadisticas {
    margin-top: 20px;
    color: #FFFFFF; /* Texto blanco para las estadísticas */
}

/* Tabla de Datos */
.estiloTabla {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.625em;
    overflow: hidden;
}

.estiloTabla {
    background-color: #333333; /* Fondo de la tabla */
}

.estiloTabla tr {
    border-bottom: 0.09375em solid #4DBAD9; /* Color de la línea inferior */
}

.estiloTabla td, .estiloTabla th {
    padding: 1.25em 1.875em;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

.estiloTabla th {
    text-align: right;
}

.diseñoBoton {
    background-color: #4DBAD9;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 0.5em;
    width: 8.125em;
    height: 2.1875em;
    font-size: 1em;
}

.botonPassword {
    background-color: #4DBAD9;
    border: none;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.botonPassword:hover {
    background-color: #4DBAD9;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Cambiar contraseña */

/* Panel Lateral */
.panelLateral {
    background-color: #162F3B; /* Mantén el color de la barra lateral o ajusta si lo deseas */
    height: 100%;
    width: 17em;
    align-content: center;
    text-align: center;
    padding: 2em;
}

.panelLateral p {
    padding-top: 1em;
    padding-bottom: 1em;
}

.panelLateral a {
    color: white; /* Texto blanco para los enlaces */
    text-decoration: none;
    font-weight: bold;
}

.lateralBoton.active {
    background-color: #4DBAD9;
    border: none;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

/* Botones de Paginación */
.page-btn {
    background-color: #4DBAD9; /* Color de los botones de paginación */
    border: none;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.page-btn.active {
    background-color: #379BB3; /* Color de botón activo */
}

.page-btn:hover {
    background-color: #379BB3; /* Color al pasar el cursor */
}

.iconosDark {
    background: transparent;
    border: none;
    color: #4DBAD9; /* Color azul claro para los iconos oscuros */
    cursor: pointer;
    font-size: 1.5em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #4DBAD9; /* Color azul claro al pasar el cursor */
}

/* Estilos para el menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A1A1A;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    right: 10px;
    top: 80px;
    width: 200px;
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #4DBAD9;
    border-radius: 10px;
}


/* assets/css/darkFiltroMenu.css */
.filtro {
    position: relative;
}

#filtroMenu {
    position: absolute;
    top: 40px; /* Ajusta según la posición deseada */
    right: 0;
    background-color: #1A1A1A; /* Fondo negro */
    border: none; /* Borde gris oscuro */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
    padding: 10px;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

#filtroMenu label {
    display: block; /* Cada opción en una línea separada */
    margin: 5px 0; /* Espaciado entre opciones */
    color: #ffffff; /* Color de texto blanco */
}

#filtroMenu input {
    margin-right: 5px; /* Espacio entre el checkbox y el texto */
    accent-color: #4DBAD9;
}

/* Opcional: Cambiar el color del texto al pasar el mouse */
#filtroMenu label:hover {
    color: #4DBAD9; /* Cambiar a un color azul al pasar el mouse */
}

.content {
    padding: 0 5%; /* Padding horizontal del 5% */
}

h2 {
    margin-bottom: 10px; /* Espacio debajo del título */
}

ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
}

li {
    margin-bottom: 20px; /* Espacio entre cada elemento de la lista */
    border-bottom: 1px solid #4DBAD9;
    padding: 15px; /* Padding interno del elemento */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #1A1A1A; /* Fondo claro */
}

strong {
    font-size: 1.2em; /* Tamaño de fuente del título */
    display: block; /* Hace que el título ocupe toda la línea */
}

.resultado-detalles {
    display: flex; /* Usamos flexbox para alinear los elementos */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: flex-start; /* Alinea los elementos al inicio */
    margin-top: 10px; /* Espacio arriba del bloque de detalles */
}

.izquierda {
    text-align: left; /* Alinea el texto a la izquierda */
}

.derecha {
    text-align: right; /* Alinea el texto a la derecha */
}


.chat-container {
    display: flex;
    height: 100vh;
}
.contact-list {
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 10px;
    background-color: #ffffff;
}
.contact-list button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.contact-list ul {
    list-style: none;
    padding: 0;
}
.contact-list ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.contact-list ul li:hover {
    background-color: #f1f1f1;
}
.chat-area {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
}
.chat-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
    font-weight: bold;
}
.chat-box {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: 70vh;
    overflow-y: scroll;
    background-color: #ffffff;
}
.chat-form {
    display: flex;
    align-items: center;
}
.chat-form input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chat-form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}





/*PREGUNTA Y RESPUESTA*/

.contenedorPreguntasYRespuestas
{
    display: flex;
    flex-direction: column;
}

.contenedorPregunta {

    width: 100%;
    display: grid;
    grid-template-columns: 200px 4fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 10px;
    padding: 20px;
    /*box-sizing: border-box;*/
    grid-template-areas: 
        "fotoUsuarioPregunta preguntaTitulo preguntaTitulo ."
        ". descripcionPregunta descripcionPregunta ."
        ". . panelDeBotones .";
}

.fotoUsuarioPregunta {
    grid-area: fotoUsuarioPregunta;
    display: flex;
    align-items: center;
    justify-content: right;
}

.fotoUsuarioPregunta img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.preguntaTitulo {
    background-color: #1A1A1A;
    grid-area: preguntaTitulo;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.descripcionPregunta {
    background-color: #1A1A1A;
    grid-area: descripcionPregunta;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.panelDeBotones {
    grid-area: panelDeBotones;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.panel-botones button{
    border: 0;
}


.panelDeBotones .bi {
    font-size: 24px; 
    border: 0;
}


.bi-lg {
    font-size: 1.5rem;
}

.bi-xl {
    font-size: 2rem;
}


.airplane-down {
    display: inline-block !important;
    transform: rotate(180deg) !important;
    transition: transform 0.2s;
}



.botonPanel
{
    background-color: #1F1F1F;
    border: 0px;
    padding: .5em;
}

.panelDeBotones .bi {
    color: #4dabf7;
    transition: color 0.2s ease;
}
.panelDeBotones .bi:hover {
    color: #ffffff; 
    cursor: pointer;
}



.contenedorRespuestaDivididor
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px 4.75fr 1fr ;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
    padding: 20px;
    /*box-sizing: border-box;*/
    grid-template-areas: 
        ". fotoUsuarioRespuesta  respuesta ."
        ". .  respuesta ."
        ". .  panelDeBotones .";
}

.fotoUsuarioRespuesta
{
    grid-area: fotoUsuarioRespuesta;
    display: flex;
    align-items: center;
    justify-content: right;
}
.fotoUsuarioRespuesta img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.respuesta
{
    grid-area: respuesta;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #1A1A1A;
}




.imagenRespuesta {
    max-width: 300px; /* Ancho máximo fijo */
    height: auto; /* Mantiene la proporción */
    display: block; /* Permite que otros elementos se alineen */
    align-items: center;
}


