:root {
    --color-principal: #1A1A1A;
    --color-secundario: #4DBAD9;
    --color-secundario-activo: #379BB3;
    --color-fondo: #1F1F1F;
    --negro1:#FFFFFF;
    --fondo-header-footer: #162F3B;
    --color-letra:#FFFFFF;
    --color-dia-chat:#5f6368;
    --color-rojo-aergibide:#e51816;
}