/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Asegura que el body cubra toda la página */
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: #1F1F1F; /* Fondo oscuro general */
    color: #FFFFFF; /* Texto blanco puro */
}

/* HEADER */
.header {
    background-color: #162F3B; /* Fondo oscuro del header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 1em;
}

.logo {
    width: 3%;
}

.logo > img {
    width: 100%;
}

.busqueda {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
}

.barra-busq {
    width: 100%;
    padding-left: 3em;
    padding-right: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #333333; /* Fondo de la barra de búsqueda */
    border: 1px solid #666666; /* Borde oscuro */
    border-radius: 5px;
    color: #FFFFFF; /* Texto blanco puro */
}

.lupa {
    position: absolute;
    left: 10px;
    pointer-events: none;
}

.filtro {
    position: absolute;
    right: 10px;
}

#btnFiltro {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#btnFiltro:hover {
    background-color: #333333; /* Fondo más oscuro al pasar el cursor */
}

.panel-botones {
    display: flex;
    gap: .5em;
}

.iconos {
    color: #4DBAD9; /* Color azul claro para los iconos */
}

.iconos > i {
    font-size: 1.5em;
}

/* FOOTER */
.footer {
    background-color: #162F3B; /* Fondo oscuro del footer */
    display: flex;
    justify-content: space-between;
    padding: 4em 2em;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border: none;
    box-shadow: none;
}

.footer > span {
    color: #4DBAD9; /* Color azul claro para el texto */
    font-size: 2em;
}

.redes, .panel-botones {
    display: flex;
    gap: .5em;
    color: #4DBAD9; /* Color azul claro para los iconos del footer */
}

/* PAGINACIÓN */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0; /* Espaciado alrededor de la paginación */
    position: absolute; /* Posición absoluta para que quede fija pero respetando el footer */
    bottom: 135px; /* Ajusta la posición para que quede justo por encima del footer */
    left: 0;
    width: 100%;
    background-color: #1F1F1F; /* Fondo de paginación en modo oscuro */
    z-index: 100; /* Asegura que esté encima de otros elementos */
}

.page-btn {
    background-color: #4DBAD9; /* Color de los botones de paginación */
    border: none;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.page-btn.active {
    background-color: #379BB3; /* Color de botón activo */
}

.page-btn:hover {
    background-color: #379BB3; /* Color al pasar el cursor */
}

