@font-face {
    /*Fuente del tipo de letra regular*/
    font-family: Mulish-Regular;
    src: url("../../assets/fonts/Mulish/static/Mulish-Regular.ttf");
}
@font-face {
    font-family: Mulish-Bold;
    src: url("../../assets/fonts/Mulish/static/Mulish-Bold.ttf");
    font-weight: bold;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mulish-Regular;
}
a {
    text-decoration: none; 
    color: inherit; 
}
a:visited {
    color: inherit; /* Mantén el mismo color después de haber sido clicado */
}
a:hover {
    color: #555; 
}
a:focus {
    outline: none;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #F6F4F8;
    margin: auto 0;
    align-items: center;
}
.estiloTabla {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 0.625em;
    overflow: hidden;
}

.estiloTabla tr {
    border-bottom: 0.09375em solid #4DBAD9;
}

.estiloTabla tr:last-child {
    border-bottom: none;
}

.estiloTabla tr:first-child th {
    padding-top: 2.5em;
}

.estiloTabla tr:first-child td {
    padding-top: 2.5em;
}

.estiloTabla td {
    font-weight: bold;
    text-align: left;
    padding: 1.25em 1.875em;
    font-size: 1em;
}

.estiloTabla th {
    font-weight: bold;
    text-align: right;
    padding: 1.25em 1.875em;
    font-size: 1em;
}

.listaDatos {
    margin: 0 auto;
}

.listaDatos h2 {
    margin-bottom: 1em;
}

.perfil {
    margin: 0 auto;
    text-align: center;
}

.actualizarFoto {
    background-color: #4DBAD9;
    border: none;
    color: white;
    border-radius: 0.5em;
    width: 8.125em;
    height: 2.1875em;
    font-size: 1em;
}
.sinFoto {
    width: 10em;
    border-radius: 3.13em;
    border: 1px solid #4DBAD9;
}
.divFoto {
    padding-top: 1em;
    padding-bottom: 1em;
}