
.contenedorPreguntaYRespuesta
{
    min-height: 80vh;
    display: grid;                   
    grid-template-columns: 20% 60% 20%;  /* Definimos 3 columnas con el porcentaje indicado */
    width: 100%;     
}

.cont1, .cont2, .cont3
{
    border: 2px solid red;
    text-align: center;              /* Centrar el texto */
    display: flex;
    justify-content: center;
    align-items: center;   
}


.cont1
{
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.fotoUsuarioPregunta
{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.fotoUsuarioPregunta img
{
    max-width: 40%;
    max-height: 50%;
    border-radius: 3.13em;
}


.cont2
{

}
.cont3
{
   
}