/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que paddings y márgenes no afecten el ancho total */
}

body {
    font-family: Mulish-Regular, Arial, sans-serif; /* Combina ambas fuentes */
    background-color: #f4f4f9; /* Color de fondo unificado */
    min-height: 100vh; /* Asegura que el body cubra toda la altura de la ventana */
    display: flex;
    flex-direction: column; /* Organiza el contenido en columnas */
}

/* Header */
.header {
    background-color: #EAFBFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    padding: 1em;
    position: sticky; /* Hace que el header sea fijo al desplazarse */
    top: 0; /* Asegura que el header esté siempre en la parte superior */
    z-index: 1000; /* Mantiene el header por encima de otros elementos */
}

.logo {
    width: 3%;
    cursor: pointer;
}

.logo > img {
    width: 100%;
}

.busqueda {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
}

.barra-busq {
    width: 100%;
    padding: 0.5em 2em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lupa {
    position: absolute;
    left: 10px;
    pointer-events: none;
    cursor: pointer;
}

.filtro {
    position: absolute;
    right: 10px;
}

#btnLupa {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#btnLupa:hover {
    background-color: #EAFBFF;
}

#btnFiltro {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#btnFiltro:hover {
    background-color: #EAFBFF;
}

.panel-botones {
    display: flex;
    gap: 0.5em;
    cursor: pointer;
}

.iconos {
    color: #4DBAD9;
}

.iconos > i {
    font-size: 1.5em;
}

/* Main */
main {
    display: flex;
    padding: 20px;
    flex-grow: 1; /* Permite que main ocupe el espacio restante */
    flex-direction: column; /* Asegura que los hijos de main se apilen verticalmente */
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.containerTema {
    display: flex;
    width: 100%; /* Asegura que el contenedor no exceda el ancho */
    margin-left: 0; /* Ajusta el margen izquierdo para evitar desbordamiento */
    gap: 10px;
    flex-grow: 1; /* Permitir que el contenedor crezca */
}

.temas {
    flex-grow: 1;
    padding: 20px;
}

.tema {
    background-color: transparent;
    padding: 15px;
    font-size: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #4DBAD9;
    cursor: pointer;
}

.sidebar {
    width: 300px; /* Mantiene un ancho fijo para la sidebar */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Paginación */
.paginacion {
    display: flex;
    justify-content: center;
    padding: 10px 0; /* Espaciado alrededor de la paginación */
    margin: 20px 0; /* Margen para separar de otros elementos */
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
}

/* Footer */
footer {
    background-color: #EAFBFF;
    display: flex;
    justify-content: space-between;
    padding: 4em 2em;
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    margin-top: auto; /* Empuja el footer al final */
}

footer span {
    color: #4DBAD9;
    font-size: 2em;
}

.redes, .panel-botones {
    display: flex;
    gap: 0.5em;
    cursor: pointer;
}

/* Últimas Publicaciones */
.ultimas-publicaciones h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.publicacion {
    display: flex;
    margin-bottom: 10px;
}

.icono img {
    margin-right: 10px;
}

.texto p {
    margin: 0;
    color: #333;
}

.estadisticas {
    margin-top: 20px;
    color: #333;
}

/* Tabla de Datos */

.estiloTabla {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 0.625em;
    overflow: hidden;
}

.estiloTabla tr {
    border-bottom: 0.09375em solid #4DBAD9;
}

.estiloTabla tr:first-child th {
    padding-top: 2.5em;
}

.estiloTabla tr:first-child td {
    padding-top: 2.5em;
}

.estiloTabla tr:last-child {
    border-bottom: none;
}

.estiloTabla th {
    font-weight: bold;
    text-align: right;
    padding: 1.25em 1.875em;
    font-size: 1em;
}

.estiloTabla td {
    font-weight: bold;
    text-align: left;
    padding: 1.25em 1.875em;
    font-size: 1em;
}

.listaDatos {
    margin: 0 auto;
    width: 50%;
}

.listaDatos h2 {
    margin-bottom: 1em;
}

.perfil {
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.diseñoBoton {
    background-color: #4DBAD9;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    width: 8.125em;
    height: 2.1875em;
    font-size: 1em;
}

.sinFoto {
    width: 10em;
    border-radius: 3.13em;
    border: 2px solid #4DBAD9;
}

.divFoto {
    padding-top: 1em;
    padding-bottom: 1em;
}

.containerPerfil {
    display: flex;
    align-items: center;
    height: 100vh;
}

.divBotonGuardar {
    padding-top: 1em;
}

input[readonly] {
    background-color: #f0f8ff;
    color: #555;
    border: 1px solid #ccc;
}

.botonPassword {
    background-color: #4DBAD9;
    border: none;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.botonPassword:hover {
    background-color: #4DBAD9;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.botonesPerfil {
    margin: 1em;
}

/* Cambiar Contraseña */

.paginaPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.formPassword {
    padding: 2em;
}

/* Panel Lateral */

.panelLateral {
    background-color: #EAFBFF;
    height: 100%;
    width: 17em;
    align-content: center;
    text-align: center;
    padding: 2em;
}

.panelLateral p {
    padding-top: 1em;
    padding-bottom: 1em;
}

.panelLateral a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.lateralBoton.active {
    background-color: #4DBAD9;
    border: none;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

/* Botones de Paginación */
.page-btn {
    background-color: #4DBAD9;
    border: none;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.page-btn.active {
    background-color: #379BB3;
}

.page-btn:hover {
    background-color: #379BB3;
}

.iconosDark {
    background: transparent;
    border: none;
    color: #4DBAD9;
    cursor: pointer;
    font-size: 1.5em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #4DBAD9;
    text-decoration: none;
}

/* Estilos para el menú desplegable */
.dropdown-content {
    display: none; /* Ocultar por defecto */
    position: absolute;
    background-color: white; /* Cambia esto si usas modo oscuro */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegúrate de que esté encima del contenido */
    right: 10px; /* Alineación a la derecha */
    top: 80px; /* Mueve el menú 50px hacia abajo desde el icono */
    width: 200px; /* Cambia el ancho del menú a 200px */
    border-radius: 10px; /* Bordes redondeados */
}

.dropdown-content a {
    color: black; /* Cambia el color si usas modo oscuro */
    padding: 12px 16px; /* Aumenta el padding para hacer el menú más grande */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #4DBAD9;
    border-radius: 10px;
}

.content {
    padding: 0 5%; /* Padding horizontal del 5% */
}

h2 {
    margin-bottom: 10px; /* Espacio debajo del título */
}

ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
}

li {
    margin-bottom: 20px; /* Espacio entre cada elemento de la lista */
    border-bottom: 1px solid #4DBAD9;
    padding: 15px; /* Padding interno del elemento */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #ffffff; /* Fondo claro */
}

strong {
    font-size: 1.2em; /* Tamaño de fuente del título */
    display: block; /* Hace que el título ocupe toda la línea */
}

.resultado-detalles {
    display: flex; /* Usamos flexbox para alinear los elementos */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: flex-start; /* Alinea los elementos al inicio */
    margin-top: 10px; /* Espacio arriba del bloque de detalles */
}

.izquierda {
    text-align: left; /* Alinea el texto a la izquierda */
}

.derecha {
    text-align: right; /* Alinea el texto a la derecha */
}

.chat-container {
    display: flex;
    height: 100vh;
}
.contact-list {
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 10px;
    background-color: #ffffff;
}
.contact-list button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.contact-list ul {
    list-style: none;
    padding: 0;
}
.contact-list ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.contact-list ul li:hover {
    background-color: #f1f1f1;
}
.chat-area {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
}
.chat-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
    font-weight: bold;
}
.chat-box {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: 70vh;
    overflow-y: scroll;
    background-color: #ffffff;
}
.chat-form {
    display: flex;
    align-items: center;
}
.chat-form input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chat-form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/*PREGUNTA Y RESPUESTA*/

.contenedorPreguntasYRespuestas
{
    display: flex;
    flex-direction: column;
}

.contenedorPregunta {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 4fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 10px;
    padding: 20px;
    /*box-sizing: border-box;*/
    grid-template-areas: 
        "fotoUsuarioPregunta preguntaTitulo preguntaTitulo ."
        ". descripcionPregunta descripcionPregunta ."
        ". . panelDeBotones .";
}

.fotoUsuarioPregunta {
    grid-area: fotoUsuarioPregunta;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: right;
}

.fotoUsuarioPregunta img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.preguntaTitulo {
    grid-area: preguntaTitulo;
    background-color: green;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.descripcionPregunta {
    grid-area: descripcionPregunta;
    background-color: red;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.panelDeBotones {
    grid-area: panelDeBotones;
    background-color: chartreuse;
    display: flex;
    
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}


.panelDeBotones .bi {
    font-size: 24px; 
}


.bi-lg {
    font-size: 1.5rem;
}

.bi-xl {
    font-size: 2rem;
}



.contenedorRespuestaDivididor
{
    background-color: aliceblue;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px 4fr 4fr 1fr ;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 10px;
    padding: 20px;
    /*box-sizing: border-box;*/
    grid-template-areas: 
        ". fotoUsuarioRespuesta respuesta respuesta ."
        ". . respuesta respuesta ."
        ". . . panelDeBotones .";
}

.fotoUsuarioRespuesta
{
    grid-area: fotoUsuarioRespuesta;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: right;
}
.fotoUsuarioRespuesta img {
    width: 90px;
    height: 80px;
    border-radius: 50%;
}
.respuesta
{
    grid-area: respuesta;
    background-color: grey;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.airplane-down {
    display: inline-block !important;
    transform: rotate(180deg) !important;
    transition: transform 0.2s;
}



.botonPanel
{
    background-color: #f4f4f9;
}


.panelDeBotones .bi-airplane {
    color: #4dabf7; 
    transition: color 0.2s ease;
}


.panelDeBotones .bi-airplane:hover {
    color: #1A1A1A; 
    cursor: pointer;
}


.panelDeBotones .bi-airplane.voted {
    color: #4dabf7;
}



.panelDeBotones .bi-bookmark-fill {
    color: #4dabf7;
    transition: color 0.2s ease;
}
.panelDeBotones .bi-bookmark-fill:hover {
    color: #1A1A1A; 
    cursor: pointer;
}

