* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Reemplazado */
}

main {
    display: flex;
    padding: 20px;
}

.containerTema {
    display: flex;
    width: 100%;
    margin-left: 15%;
    gap: 10px;
}

.temas {
    flex-grow: 1;
    padding: 20px;
}

.tema {
    background-color: transparent;
    padding: 15px;
    font-size: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #4DBAD9;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-btn {
    background-color: #4DBAD9; /* Reemplazado */
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 3px;
    text-decoration: none;
}

.page-btn.active {
    background-color: #379BB3; /* Reemplazado */
}

.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ultimas-publicaciones h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333; /* Reemplazado */
}

.publicacion {
    display: flex;
    margin-bottom: 10px;
}

.icono img {
    margin-right: 10px;
}

.texto p {
    margin: 0;
    color: #333; /* Reemplazado */
}

.estadisticas {
    margin-top: 20px;
    color: #333; /* Reemplazado */
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e0f7ff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text {
    font-size: 16px;
    color: #4DBAD9; /* Reemplazado */
}

.social-icons img {
    width: 20px;
    margin-left: 10px;
}
