/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin-bottom: 50px;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #1F1F1F; /* Fondo oscuro general */
    color: #FFFFFF; /* Texto blanco puro */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido principal y el footer se distribuyan verticalmente */
    min-height: 100vh;
}

.containerTema {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto; /* Centramos el contenedor horizontalmente */
    flex-grow: 1; /* Permite que el contenido crezca para ocupar el espacio */
}

.temas {
    width: 65%;
}

.tema {
    font-size: 32px;
    padding: 20px;
    border-bottom: 2px solid #4DBAD9; /* Línea azul */
    margin-bottom: 20px;
    color: #FFFFFF; /* Texto blanco puro */
}

.sidebar {
    width: 30%;
    background-color: #1A1A1A; /* Fondo oscuro del sidebar */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ultimas-publicaciones h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #FFFFFF; /* Texto blanco puro */
}

.publicacion {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icono {
    width: 40px;
    height: 40px;
    background-color: #4DBAD9; /* Fondo del ícono azul claro */
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.texto {
    font-size: 16px;
    color: #FFFFFF; /* Texto blanco puro */
}

.texto p {
    margin: 0;
}

.estadisticas h3 {
    margin-top: 40px;
    font-size: 18px;
    color: #FFFFFF; /* Texto blanco puro */
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-btn {
    background-color: #4DBAD9; /* Botones de paginación en azul claro */
    border: none;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

.page-btn:hover {
    background-color: #379BB3; /* Color de hover para los botones */
}
